body{
  background-image: url("images/post-it.jpg");
  background-position:center;
}
header{
  background-image: url("images/header.jpg");
  background-position: center;
  position: absolute;
  width: 95%;
  margin:inherit;
  text-align: center;
  color:white;
}
.s1{
  background-image: url("images/header.jpg");
  background-position: center;
  position: absolute;
  width: 95%;
  height: 60%;
  top: 20%;
  margin:inherit;
}
article{
  background-image: url("images/article.jpg");
  background-position: center;
  border:2px groove;
  border-radius:10px;
}
h3{
  text-align: center;
}
.a1{
  position:absolute;
  width: 250px;
  height: 300px;
  top:17%;
  left:10%;
}
.a2{
  position:absolute;
  width: 250px;
  height: 300px;
  top:17%;
  left:40%;
}
.a3{
  position:absolute;
  width: 250px;
  height: 300px;
  top:17%;
  left:70%;
}
ol{
  background-color: white;
  border:2px double;
  border-radius: 10px;
  width:75%;
  height:75%;
  margin-left:4%;

}
.s2{
  background-color: orange;
  position: absolute;
  width: 95%;
  height: 60%;
  top: 90%;
  margin:inherit;
}
}
